/esa_worldcover_v100_1km
/wc2-1_30s_bio
/ETH_GlobalCanopyHeight_2020_v1_1km
/modis_sur_refl_monthly_avg_1km
/vodca_mean-p5-p95_1km
/soilgrids_v2-0_1km
/all_tracheophyta_non-cult_2024-04-10
/splot4-0
/try_pft_v1.csv
/TRY_5_GapFilledData_2020
/TRY_6_gapfilled_for_distribution
/TRY_6_gapfilled_for_distribution
/TRY_6_gapfilled_for_distribution
/TRY_trait_table_2024114.txt
/try_pft_v2.parquet
/wwf_terr_biomes
/sPlotOpen_v76
/hydraulic_traits_knighton
/hydraulic_traits_matching_results_2025-10-03.gz
/try_pfts.parquet
/all_tracheophyta_non-cult
/ALOS_CHILI
